<form action="./login" method="POST">
    <label for="email">Email: <input type="text" name="email" id="email"></label>
    <label for="password">Password: <input type="text" name="password" id="password"></label>
    <input type="submit" value="Login">
</form>

<a href="http://localhost:8080/api/session/github">Login with Github</a>
<a href="./register">Register</a>