<h1>Register a new user</h1>

<form action="./register" method="POST">
    <label for="">First Name:<input type="text" name="first_name" id="first_name"></label>
    <label for="">Last Name:<input type="text" name="last_name" id="last_name"></label>
    <label for="">Email:<input type="text" name="email" id="email"></label>
    <label for="">Age:<input type="text" name="age" id="age"></label>
    <label for="">Password<input type="text" name="password" id="password"></label>
    <input type="submit" value="Sign in">
</form>